
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            text-align: center;
        }
        h1{
            width:400;
            padding :300px;
        }
     
        input{
            color:red;
            background-color: aqua;
       
            ;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1 style="color:red "padding-top:50px><b>Final Year Project On Diabetes Detection</b></h>
   <div>
     <a href="https://literate-computing-machine-4j7gwww6rjwgcj646-5000.app.github.dev/predictdata"
       target="-blank" ><input type="button" value="Click Me"></a>
   </div>
    
</body>
</html>
